
        *{margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        line-height: 150%;
                
        }
        body{
          min-height: 100vh;
          width: 100%;
          overflow-x: hidden;
        }
        p{font-size: 15px;}
        h2{font-weight: 500;}
        h1{font-weight:200;}
        
        /* For top of most pages */
        .csv{display: flex;
          padding: 40px 0 40px 0;
    
        }
        .csv .firstbox{text-align: right;}
        .firstbox{
          padding-left: 400px;
          padding-top: 20px;
          padding-right: 40px;
        }  
       .secondbox .fb{color: #a3c962;}
         .firstbox h1{font-weight: 400;}
       .secondbox{padding-right: 40px;}

        .navbar{
            min-height: 93vh;
            width: 100%;
            background-image: url(images/background.jpg);
            background-position: center;
            background-size: cover;
            position: relative;
            color: white;
            display: flex;
            justify-content: space-between;
            
        }
        .navbar li a{color: white;}
        .navbar h1{ padding: 50px;
        font-weight: bolder;}

        .content ul {display: flex;
        justify-content: space-between;
        padding: 50px;}

        .content ul li{list-style-type: none;}
        .content ul  li a {text-decoration: none;
        padding-left: 20px;
        font-weight:900}
        .content ul   li a:hover{color: greenyellow;}
        .content ul li a:active{color: greenyellow;}

        .text-box{
            width: 100%;
            position: absolute;
            top: 40%;
            text-align: center;
             }
             
        .text-box  h1 {padding:2%;}
        .text-box p{padding-bottom: 20px;}
       

       .button{display: flex;
        justify-content: center;
        }

        .button1{padding-right: 20px;
        }
        .btn1{padding: 7px 25px 7px 25px;
        border-radius: 20px;
        color: #a3c962;
        background-color: white;
        border: 2px solid white;}
        .btn1:hover{background-color: black;
        color: white;}

        .btn2{padding: 7px 25px 7px 25px;
        border-radius: 20px;
        color: white;
        background-color: #a3c962;
        border: 2px solid white;}
        .btn2:hover{background-color: black;}
        .navbar.content ul li a{font-weight: 40px
          ;}
          .navbar .content ul li a{font-weight: 400;}
          .navbar .content ul li a:active{color: #a3c962;}
          .navbar .content{padding-top: 10px;}
          .navbar h1{font-weight: 500;}


/* !st scrolled phase page */
        .content-one{            
            text-align: center;
            height: 20vh;
            width: 100%;
            padding-top: 50px;
        }

        .plantt{width: 350px;
        height: 400px;}

        .content-one h3{color: #a3c962;}
        .standing{padding-top: 10px;
        padding-bottom: 25px;}
        .lorem{
            
            text-align: center;
        }

.photo{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 50px;
}
.photo h3{color: #a3c962;
padding-bottom: 10px;}
.photo img{padding-left: 100px;
padding-right: 100px;}

.photo h2{padding-bottom: 25px;
    
}
.one-content{
  width: 60vh;
}

/* CIrcleeeeeeeeeeee */
.circles{
  display: flex;
}

/* circle oneeeeeee */

.circle-wrap1 .circle-wrap{
  padding-right: 20px;
}

.circle-wrap1 {
    margin: 50px auto;
    width: 150px;
    height: 150px;
    background: #e6e2e7;
    border-radius: 50%;
  }



  .circle-wrap1 .circle .mask,
.circle-wrap1 .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap1 .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }


  .circle-wrap1 .circle .mask .fill {
    clip: rect(0px, 75px, 180px, 0px);
    background-color: #007bff;
  }
  .circle-wrap1 .circle .mask.full,
  .circle-wrap1 .circle .fill {
    transform: rotate(126deg);
  }
   



  .circle-wrap1 .inside-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #fff;
    line-height: 130px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
  }
  .circle-wrap1{color:#007bff}



  /* circle twooooo */

  .circle-wrap2 {
    margin: 50px auto;
    width: 150px;
    height: 150px;
    background: #e6e2e7;
    border-radius: 50%;
  }



  .circle-wrap2 .circle .mask,
.circle-wrap2 .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap2 .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }


  .circle-wrap2 .circle .mask .fill {
    clip: rect(0px, 75px, 180px, 0px);
    background-color: #1abc9c;
  }
  .circle-wrap2 .circle .mask.full,
  .circle-wrap2 .circle .fill {
    transform: rotate(126deg);
  }
   



  .circle-wrap2 .inside-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #fff;
    line-height: 130px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
  }
  .circle-wrap2 .inside-circle{color:#1abc9c ;}


/* circle threee */
.circle-wrap3 {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}



.circle-wrap3 .circle .mask,
.circle-wrap3 .circle .fill {
width: 150px;
height: 150px;
position: absolute;
border-radius: 50%;
}

.circle-wrap3 .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}


.circle-wrap3 .circle .mask .fill {
  clip: rect(0px, 75px, 180px, 0px);
  background-color: #fdba04;
}
.circle-wrap3 .circle .mask.full,
.circle-wrap3 .circle .fill {
  transform: rotate(126deg);
}
 
.circle-wrap3 .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}
.circle-wrap3 .inside-circle{color: #fdba04;}


/*  2nd scolled phase page*/
  
  .content-two{
    min-height: 94vh;
    width: 100%;
    background-image: url(images/forest.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    
    
   
   
} 

.content-two .boxes{width: 75%;
min-height: 68vh;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
padding-left: 200px;
padding-right: 145px;
}
.boxes p{font-size: 40px;}
.boxes h3{color: #a3c962;}

.boxes .box1{
  width: 340px;
  height: 240px;
  background-color: white;
  color:black;
}

.boxes .box1{
  width: 340px;
  height: 240px;
  background-color: white;
  color:black;
  text-align: center;

  
}
.b1, .b2, .b3, .b4, .b5, .b6{padding-top: 30px;
  align-content: center;
}

.b1, .b2, .b3, .b4, .b5, .b6, p{font-size: 15px;}
.box1:hover{background-color:rgb(229,228,226)
;}

.boxes .box2:hover{background-color:rgb(229,228,226)
  ;}
  
.boxes .box2{
  width: 340px;
  height: 240px;
  background-color: white;
  color:black;
  text-align: center;
}

.boxes .box3{
  width: 340px;
  height: 240px;
  background-color: white;
  color:black;
  text-align: center;
}
.boxes .box3:hover{background-color:rgb(229,228,226)
  ;}
.boxes .box4{
  width: 340px;
  height: 240px;
  background-color: white;
  color:black;
  text-align: center;
}
.boxes .box4:hover{background-color:rgb(229,228,226)
  ;}
.boxes .box5{
  width: 340px;
  height: 240px;
  background-color: white;
  color:black;
  text-align: center;
}
.boxes .box5:hover{background-color:rgb(229,228,226)
  ;}
.boxes .box6{
  width: 340px;
  height: 240px;
  background-color: white;
  color:black;
  text-align: center;
}
.boxes .box6:hover{background-color:rgb(229,228,226)
  ;}


  /*  3rd scolled phase page*/


  .content-third{
    padding-top: 50px;;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 50px;
   
    
  }
  .content-third .ct{padding-left: 250px;}
  .content-third .pictures{
    padding-top: 40px;
  }

  .content-third .ct{
    display: flex;
    justify-content: center;
  }
  .content-third h3{color: #a3c962;}
  .content-third .first-box{padding-right:  40px; ;}
  .content-third .fb{text-align: right;}

  .second-box{
    padding-top: 16px;
  }
 

.content-third .pictures{padding-left: 200px;
display: flex;
}
.content-third .pictures .block1{padding-right: 20px;}

.content-third .block1 .img1{width: 530px;}
.img1{padding-bottom: 20px;}
.img2{padding-right: 20px;}

.content-third .block1 .row3 {padding-top: 20px;}
.content-third .block1 .row3 .forest{width: 530px;
height: 350px; }
.content-third .pictures .block2 .row1{
  display: flex;
}

.content-third .pictures .block2 .row1 .img1 {padding-right: 20px;}
.content-third .pictures .block2 .row1{padding-bottom: 20px;}
.content-third .pictures .block2 .row2 .imgg1{padding-right: 20px;}
.content-third .pictures .block2 .row2{padding-bottom: 20px;}

.content-third .pictures .block2 .row3 .img1{width: 530px;
height: 350px;}


/* fourth scrolled phase  */
.content-fourth{
  width: 100%;
  height: 20vh;
  
}

.content-fourth {
  padding-top: 50px;
  background-color: #a3c962;}

  .content-fourth .contents{
    display: flex;
    justify-content: space-around;
    color: white;
  }

  .contents p{font-size: 20px;}
  


  

.paw, .smile, .leaf, .country{
  text-align: center;
}


.o1200, .t2000 , .f400, .t200{
  color: black;
  font-weight:400;
}


/* fifth scrolled phase page */

.content-fifth{width: 100%;
height: 90vh;
padding-top: 50px;
justify-content: center;
}



.content-fifth .content {
  padding-bottom: 500px;
  
}
.content-fifth .content .contents{display: flex;
  padding-left: 230px;}

.content-fifth .content .box{ padding-left: 40px;}
.content-fifth .content .contents .picture{padding-top: 30px;}

.content-fifth .content .contents .farming{width: 350px;}
.content-fifth .content .box .box1{width: 600px;
height: 120px;
box-shadow: 0 0 30px black;
border-radius: 10px;
display: flex;}

.content-fifth .content .box .b2{padding-left: 51px;}
.content-fifth .content .box .box2{width: 550px;
  height: 120px;
  box-shadow: 0 0 30px black;
border-radius: 10px;}

  .content-fifth .content .box .box3{width: 600px;
    height: 120px;
  border-radius: 10px;
  box-shadow: 0 0 30px black;
  ;}


  .content-fifth .box1 .col1{padding:30px 80px 30px 80px
  }
  .content-fifth .box h3{color: #a3c962;}
.col1, .col2 p{font-size: 15px;}

.tr{font-size: 35px;}
.col2{padding-top: 20px;}

.content-fifth .box2{display: flex;}
.content-fifth .box2 .col1{padding:30px 80px 30px 80px
  }

  .content-fifth .box3{display: flex;}
.content-fifth .box3 .col1{padding:30px 80px 30px 80px;

  }

  /* sixth scrolled phase page */

  .content-sixth{
    height: 75vh;
            width: 100%;
            background-image: url(images/background.jpg);
            background-position: center;
            background-size: cover;
            position: relative;
            color: white;
  }

.cs {display: flex;
  padding-top: 40px;
  padding-bottom: 50px;
}
.cs .fb{padding-left: 65px;
color: #a3c962;}
.content-sixth .first-box{
  padding-left: 500px;
  padding-right: 40px;
}
.content-sixth .bboxes{
  padding-left: 200px;
}
.content-sixth p1{font-size: 15px;}
.content-sixth .bboxes .boxx{width: 100%;
height: 300px;
display: flex;
padding: 5px 10px 5px 50px;
color: black;}

.content-sixth .bboxes .boxx1{width: 230px;
height: 330px;
background-color: white;
text-align: center;}

.content-sixth .bboxes .boxx2{width: 230px;
  height: 330px;
  background-color: white;
text-align: center;}

  .content-sixth .bboxes .boxx3{width: 230px;
    height: 330px;
    background-color: white;
  text-align: center;}

    .content-sixth .bboxes .boxx4{width: 230px;
      height: 330px;
      background-color: white;
    text-align: center;}

      .bb1, .bb2, .bb3, .bb4{padding-right: 25px;}

.boxx h2{padding:20px;
  color: #a3c962;
}

.boxx1 .p1{padding-bottom: 20px;
font-weight: 400;}
.boxx1 .p1 .price{font-size: 25px;
color: #a3c962;}
.boxx1 .p1 p1{font-weight: 600;}


.boxx2 .p1{padding-bottom: 20px;
  font-weight: 400;}
  .boxx2 .p1 .price{font-size: 25px;
  color: #a3c962;}  
  .boxx2 .p1 p1{font-weight: 600;}

  .boxx3 .p1{padding-bottom: 20px;
    font-weight: 400;}
    .boxx3 .p1 .price{font-size: 25px;
    color: #a3c962;}  
    .boxx3 .p1 p1{font-weight: 600;}


    .boxx4 .p1{padding-bottom: 20px;
      font-weight: 400;}
      .boxx4 .p1 .price{font-size: 25px;
      color: #a3c962;}  
      .boxx4 .p1 p1{font-weight: 600;}
  
button{border-radius: 15px;
padding:5px 15px 5px 15px;
background-color: #a3c962;
border: none;
color: white;
font-size: 16px;}
button:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}
.content-sixth .bboxes{
height: 350px;}

/* seventh scrolled page phase */
/* Our clients */

.content-seventh{width: 100%;
  height: 75vh;
  padding-top: 50px;
} 
 
   .client-box .cb{
  padding-left: 250px;
height: 400px;}

  /* .client-box{
    width: 100%;
    height: 63vh;
    color: black;
  } */

  .cb{
    width:70%;
    height: 100px;
    padding-left: 200px;
    display: flex;
    
  }

  .cb1{
    width: 350px;
    height: 400px;
    background-color: white;
    
  }

  .cb2{
    width: 350px;
    height: 400px;
    background-color: white;
  }
  .cb3{
    width: 350px;
    height: 400px;
    background-color: white;
  }
  
  .ted, .orcand, .jack{
    width: 130px;
    border: 1px solid #ccc;
    background: #eee;
    margin: auto;
    padding: 5px 5px;
    
  }
  .cb1 h3 {color: #a3c962;padding: 15px 0 0 0;}
  .cb2 h3 {color: #a3c962;padding: 15px 0 0 0;}
  .cb3 h3 {color: #a3c962;padding: 15px 0 0 0;}

  .cb1 h4{padding-bottom: 10px; font-weight: 400;}
  .cb2 h4{padding-bottom: 10px;font-weight: 400;}
  .cb3 h4{padding-bottom: 10px;font-weight: 400;}


  /* save forest and nature */
.green{background-color: #a3c962;
  width: 100%;
height: 200px;
padding-top: 90px;
text-align: center;
color: white;}
.green a{font-size: 30px;}
.green h1{font-weight: 400;}


#play{background-color: white;
height: 50px;
width: 50px;
border-radius: 50%;
color: black;

font-size: 35px;
line-height: 50px;
}
.playpara{color: black;}

#play:hover{color: white;
background-color: black;}







/* eighth content scrolled phase page */
/* Our volunteer */

.content-eighth{
  width: 100%;
  height: 90vh;
  padding-top: 40px;
}

.content-eighth .boxes{width: 75%;
  min-height: 78vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 200px;
  padding-right: 145px;
  padding-bottom: 400px;
  }
 
   .content-eighth .boxx{
    display: flex;
    padding-top: 40px;
    padding-left: 20px;
    width: 100%;
  height: 700px;
  }
  .content-eighth .boxx p {font-size: 15px;}

 

 .bbb1, .bbb2, .bbb3, .bbb4{
  width: 230px;
  height: 440px;
  background-color: white;
  padding-left: 20px;
}

 .pic1, .pic2, .pic3,.pic4 {
  width: 230px;
}

 .names{
  text-align: center;
  padding-top: 15px;
}



/* ninth scrolled phase page */
/* Our Blog */
.content-ninth{
  padding-top: 50px;;
  min-height: 50vh;
  width: 100%;
  background-image: url(images/bloom);
  background-position: center;
            background-size: cover;
            position: relative;
            color: white;
            
 
  
}
.content-ninth .boxes{width: 75%;
  min-height: 68vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 200px;
  padding-right: 145px;
  }

.content-ninth .cn{
  display: flex;
  justify-content: center;
  padding-left: 250px;
}
.content-ninth h3{color: #a3c962;}
.content-ninth .first-box{padding-right:  40px; ;}
.content-ninth .fb{text-align: right;}
.content-ninth .second-box p{color: white ;}

.content-ninth h3{
  color: #a3c962;
}

   .content-ninth .boxx{
    display: flex;
    padding-top: 40px;
    padding-left: 25px;
    width: 100%;
  height: 450px;
  justify-content: space-between;
  }
  .content-ninth .boxx p {font-size: 15px;}
#bbb1{width: 250px;
  height: 480px;

}
 
.content-ninth h3{
  text-align: left;
    padding-bottom: 15px;
}
.content-ninth p {color: black;
text-align: left;}

 .b91, .b92, .b93{
  width: 270px;
  height: 390px;
  padding: 20px;
  background-color: white;
}

 .pic91, .pic92, .pic93 {
  width: 270px;
}


 .names{
  text-align: center;
  padding-top: 15px;
  height: 150px;
}

.date{
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: 13px;
}

.media{ 
  display: flex;
  justify-content: space-between;
  height: 10px;
  width: 2px;
 
}
#facebook, #twitter,#rss{background-color: black;
  font-size: 30px;
  color: white;
}
.media ul {display: flex;}
.media ul li  {list-style: none;
padding-left: 30px;}



#facebook, #twitter,#rss{background-color:black;
border-radius: 50%;
height: 30px ;
width: 30px;
font-size: 13px;
line-height: 30px;

;}
#rss:hover{color: #a3c962;}
#facebook:hover{color: #a3c962;}
#twitter:hover{color: #a3c962;}
.content-eighth .boxx1{background-color: white;}

/* ninth scrolled page phase */
/* Contact Us */

.content-tenth{
  width: 100%;
  height: 85vh;
}

.cth{
  display: flex;
  padding-top: 50px;
  
}

.cth .first-box{
  padding-top: 40px;
  padding-right: 30px;
  padding-left: 300px
  ;
}

.cth .first-box{text-align: right;}

/* Entry */
.content-tenth .content{padding-top: 40px;
  display: flex;

}
.content-tenth h3{color: #a3c962;}
.content-tenth .col1{padding-left: 250px;
}

.content-tenth input{
  width: 400px;
  height: 40px;
  padding-left: 10px;
  background-color: #e5e4e2;
  border-width: 0 0 2px 0;
}
.content-tenth .message input{ height: 150px;
}
.address, .phone, .email {display: flex;}

#home, #phone, #envelope{font-size: 35px; padding:0 80px 80px 80px;}

.content-tenth input:focus{
border: 3px solid skyblue;
outline: none;
background-color: white;}
.send{height: 30px;
width: 400px;}


/* Map */
.mapp{
  width: 98%;
  height: 36vh;
  border: 2px solid grey;
  padding: 10px 10px; 
}
.map{padding-top: 10px 0 10px 0;
  width: 100%;
  height: 36vh;}
#map{ width: 100%;
  height: 36vh;
}


/* Logos */

.content-eleventh{background-color: #9c9c9c;
  width: 100%;
height: 30vh;
text-align: center;
color: white;
background-color: #a3c962;}
.ceth{padding-top: 30px;}

.content-eleventh #boxx1 {display: flex;
justify-content: center;}


.content-eleventh #boxx1 {list-style: none;}
.layout{text-decoration: none;
color: black;}

.layout:hover{color: white;
}

.mediaa ul {display: flex;
  justify-content: center;
padding-top: 20px;}
  .mediaa ul li{list-style: none;}

  #round{background-color:black;
    border-radius: 50%;
    height: 30px ;
    width: 30px;
    font-size: 13px;
    line-height: 30px;
    color: white
    
    ;}
    #round:hover{color: #a3c962;}    
    .f1, .tw1,.r1.v1{padding-right: 15px;}


    